<div id="calendar-header" class="page-header clearfix">
  <h1 class="pull-left">Kalendář úklidů</h1>

  <h2 class="pull-right">
    <%= link_to '&lt;'.html_safe, calendar_path(year: @prev_date.year, month: @prev_date.month), :class => 'btn btn-small' %>
    <%= I18n.l @date, format: '%B %Y' %>
    <%= link_to '&gt;'.html_safe, calendar_path(year: @next_date.year, month: @next_date.month), :class => 'btn btn-small' %>
  </h2>
</div>



<%= calendar_for(@shifts, first_day_of_week: 1, year: @date.year, month: @date.month,
  html: {id: 'calendar', class: 'table table-bordered'}) do |t| %>
  <%= t.head *(I18n.t('date.abbr_day_names')[1..-1] + [I18n.t('date.abbr_day_names')[0]]) %>
  <%= t.day(day_method: 'start_at') do |date, shifts| %>
    <div class="cell">
      <% shift = shifts.first %>
      <h3 class="day"><%= (shift.nil? || shift.start_at == shift.end_at) ? date.day : "#{shift.start_at.day}-#{shift.end_at.day}" %></h3>
      <% if shift %>
        <% shift.members.each do |member| %>
          <span class="member"><%= member.name %></span>
        <% end %>
      <% end -%>
      <% if shift && user_logged_in? %>
        <span class="member"><%= link_to 'Upravit', edit_shift_path(shift) %></span>
      <% elsif user_logged_in? %>
        <span class="member"><%= link_to 'Naplánovat', new_shift_path(start_at: date) %></span>
      <% end %>
    </div>
  <% end %>
<% end %>

<% if user_logged_in? %>
<div class="well">
  <%= form_tag :action => 'regenerate' do %>
    <h2>Přegenerovat naplánované úklidy</h2>
    <label>Od</label> <%= select_date @date, prefix: 'from' %>
    <label>Do</label> <%= select_date (@date + 30), prefix: 'to' %>
    <p><strong>Pozor!!! Všechny naplánované úklidy budou smazány a vygenerovány znovu.</strong></p>
    <button type="submit" class="btn btn-danger">Přegenerovat</button>
  <% end %>
</div>

<div class="well">
  <h2>Tisknout rozpis</h2>
  <p><strong><%= I18n.l @date, format: '%B %Y' %> - <%= I18n.l @next_date, format: '%B %Y' %></strong></p>
  <%= link_to 'Tisk', print_shifts_path(year: @date.year, month: @date.month), :class => "btn btn-primary" %>
</div>

<% else %>
<div class="well">
  <h3><a href="https://docs.google.com/spreadsheet/ccc?key=0AoO6M1wrfpXNdHZnM3VveVc1b1NyNWxPTnBNMU51UWc&usp=sharing" target="_blank">Návod na uklízení</a></h3>
</div>
<% end %>
