<%= simple_form_for @member, html: {class: 'form-horizontal'} do |f| %>
  <%= f.input :name, label: 'Jméno' %>
  <%= f.input :email %>
  <%= f.input :phone, label: 'Telefon' %>
  <%= f.input :woman, label: 'Žena?' %>
  <%= f.input :resident, label: 'Rezident?' %>
  <%= f.input :active, label: 'Aktivní?' %>
  <div class="form-actions">
    <%= f.button :submit, value: 'Uložit', class: 'btn btn-primary' %>
    <%= link_to 'Storno', members_path, class: 'btn' %>
  </div>
<% end %>
