<div class="page-header clearfix">
  <h1 class="pull-left">Členové centra</h1>
  <%= link_to 'Nový člen', new_member_path, :class => 'btn btn-primary pull-right' %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Jméno</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr class="<%= member.active? ? 'active' : 'inactive' %>">
        <td>
          <%= member.name %>
          <% if member.resident? %><span class="label label-success">REZIDENT</span><% end %>
          <% if member.email.blank? && member.active? %><span class="label label-important">CHYBÍ EMAIL</span><% end %>
          <% if member.phone.blank? && member.active? %><span class="label label-important">CHYBÍ TELEFON</span><% end %>
        </td>
        <td>
          <%= link_to 'Upravit', edit_member_path(member) %> |
          <%= link_to 'Smazat', member, confirm: 'Opravdu smazat?', method: :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
